html {
    box-sizing: border-box;
    margin:0 auto;
}
.clearfix::after{
    content:"";
}
header{
    display:flex;
    flex-flow:row nowrap;
    box-sizing: border-box;
    margin:0;
    border-top:75px solid #ff9933; 
    border-bottom:25px solid #ff9933;    
    background-color:#ccffff;   
    
}
header .pimage {
    width: 40%;
    align-self: flex-start;
}
header h1{
    display:flex;
    align-self:center;
    padding:10px 10px 0px 10px;
    font-size: 3em;
}

.top-photos {
    display:flex;
    flex-flow: row nowrap;
    position:relative;
    top:0px;
    left:-173px;
    
}
div img{
    width:auto;
    height:17.5%;
}

h1,h2,p,li,.bio,a{
    font-family: 'Roboto', sans-serif;
    color:#993300;
}

.bio{
    font-size: 1.3em;
    background: linear-gradient(bisque, transparent 250%), 
                bisque url("../assets/Fall_leaves.jpg");
    background-size: cover;
    padding: 10px 10px;
    border-bottom:25px solid #ff9933;
    
}
.movies,.mimage  {
    background-color:#ccffff;
}

.mimage img{
    height:270px;
    width:auto;
    padding-right: 20px;
    padding-bottom: 20px;
     
}
.mimage {
    border-bottom:25px solid #ff9933;
}
.movies,.mimage, .book{
    display:flex;
    flex-flow:row nowrap;
    padding-left:50px;
}
.book img{
    padding-left: 100px;
    padding-top: 200px;
    height:300px;

}
.book p {
    padding-top:20px;
}
.book {
    background: linear-gradient(lightblue, transparent 150%), 
                 lightblue url("../assets/Alaska.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border-bottom:25px solid #ff9933;
    padding-top: 20px;
}
a {
    align-self: flex-end;
    padding-left:10px;
    padding-bottom: 20px;
    font-size: 1.2em;
}
<!-- Media Queries-->
@media (max-width:750px){
    
      
    
}
@media (min-width:1200px){
    
      .clearfix::after{
        content:"";
    }
    header h1{
        font-size: 3.5em;
    }
    .top-photos {
    display:flex;
    flex-flow: row nowrap;
    position:relative;
    top:0px;
    left:-200px;
}
     div img{
        width:auto;
        height:28.9%;
    }
    .book img{
    padding-left: 450px;
    }
    .bio{
        font-size:1.9em;
    }
    .movies h2{
        font-size:  2em;
    }
    .book h2{
        font-size: 2em;
    }
    .book p {
    font-size:1.5em;
}
    .movies li{
        font-size: 1.3em;
    }
    ol{
        padding-top: 10px;
    }
    .book{
        padding-bottom:110px;
    }
    

}
 

